body {
  background: #126823;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.card {
  height: 29em;
  width: 20em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.card p {
  font: 150px/440px Times New Roman, serif;
  text-align: center;
  margin: auto;
}

.theButton {
  width: 15em;
  height: 3em;
  border-radius: 5px;
  background-color: #573800;
  color: white;
  border: none;
  box-shadow: 1px 1px #5f5e5e78;
  font-size: 20px;
  position: relative;
  left: 10px;
  margin-top: 0.5em;
}

.theButton:hover {
  transition-duration: 0.4s;
  background-color: #756546;
}

#topSuit {
  font-size: 125px;
  position: absolute;
  top: 1px;
  left: 10px;
}

#bottomSuit {
  transform: rotate(180deg);
  font-size: 125px;
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.redSuit {
  color: red;
}

.blackSuit {
  color: black;
}
